# Default values for cogstack-helm-ce.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# This is for the secrets for pulling an image from a private repository more information can be found here: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
imagePullSecrets: []
# This is to override the chart name.
nameOverride: ""
fullnameOverride: ""

anoncat-service:
  replicasCount: 1
  env:
    APP_MEDCAT_MODEL_PACK: "/cat/models/examples/example-deid-model-pack.zip"
    DEID_MODE: true
    DEID_REDACT: false
  image:
    repository: cogstacksystems/medcat-service
    tag: "1.2.0"

medcat-service:
  replicasCount: 1
  image:
    repository: cogstacksystems/medcat-service
    tag: "1.2.0"

opensearch:
  enabled: true
  extraEnvs:
    - name: OPENSEARCH_INITIAL_ADMIN_PASSWORD
      value: "opensearch-312$A"

opensearch-dashboards:
  enabled: true

cogstack-jupyterhub:
  enabled: true
  jupyterhub:
    hub:
      image:
        name: cogstacksystems/jupyter-hub
        tag: "2.2.2"
      config:
        JupyterHub:
          authenticator_class: dummy
        # - Authenticator set to hardcoded user/password
        Authenticator:
          admin_users:
            - admin
        DummyAuthenticator:
          password: "SuperSecret"
    singleuser:
      image:
        name: cogstacksystems/jupyter-singleuser
        tag: "2.2.2"
        pullPolicy: IfNotPresent
