- targets:
    - cogstack-observability-traefik-1/grafana/api/health
  labels:
    name: grafana
    job: probe-observability-stack
    ip_address: "{{ OBSERVABILITY_SERVICE_IP }}"
    host: "{{ OBSERVABILITY_SERVICE_HOSTNAME }}"
- targets:
    - cogstack-observability-traefik-1/prometheus/-/healthy
  labels:
    name: prometheus
    job: probe-observability-stack
    ip_address: "{{ OBSERVABILITY_SERVICE_IP }}"
    host: "{{ OBSERVABILITY_SERVICE_HOSTNAME }}"