apiVersion: v1
kind: Secret
metadata:
  name:  {{ include "medcat-trainer-helm.fullname" . }}-secret
  labels:
    {{- include "medcat-trainer-helm.labels" . | nindent 4 }}
stringData:
  POSTGRES_USERNAME: "{{ .Values.postgresql.auth.username }}"
  POSTGRES_PASSWORD: "{{  .Values.postgresql.auth.password }}"
  POSTGRES_HOST: "{{ include "postgresql.v1.primary.fullname" (dict "Values" .Values.postgresql "Chart" (dict "Name" "postgresql") "Release" .Release) }}"
  POSTGRES_PORT: "{{ include "postgresql.v1.service.port" (dict "Values" .Values.postgresql) }}"
  POSTGRES_DATABASE: {{ .Values.postgresql.auth.database }}
