# This is a simple action to check that the documentation is building.
# Note the real documentation build is done by readthedocs externally, and none of the files created in this action are used.
name: documentation-build

on:
  push:
    branches:
      - '**'
    tags:
      - 'docs-v*.*.*'
  release:
    types: [published]

defaults:
  run:
    working-directory: ./docs
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install uv for Python 3.13
        uses: astral-sh/setup-uv@v6
        with:
          python-version: 3.13
          enable-cache: true
          cache-dependency-glob: "docs/uv.lock"
      - name: Install the project
        run: |
          uv sync --all-extras
      - name: Build documentation
        run: |
          uv run mkdocs build
